<%= form_for @product, local: true do |p| %>
  <%= render 'errors' %>
  <div>
    <%= p.collection_select(:order_id, Order.all, :id, :name, { :prompt => 'Select a Order', :selected => @product.order_id }, { class: 'form-control' }) %>
  </div>
  <div>
    <%= p.label :product_name %>
    <br/>
    <%= p.text_field :product_name %>
  </div>
  <div>
    <%= p.label :description %>
    <br/>
    <%= p.text_field :description %>
    <%= p.submit 'Create' %>
  </div>
<% end %>
